/*
 * Specific styles of signin component
 */
/*
 * General styles
 */
body, html {
	height: 100%;
	background:url(../images/bg_image.jpg)no-repeat; background-size:cover;
	align-items: center;
	display: flex;
	justify-content: center;
	height: 100%;
	width: 100%;
	opacity:0.96;
}
.card-container.card {
	max-width: 430px;
	padding: 15px 20px;
}
.btn {
	font-weight: 700;
	height: 36px;
	-moz-user-select: none;
	-webkit-user-select: none;
	user-select: none;
	cursor: default;
}
.modal-dialog {
    width: 430px;
    margin: 30px auto;
}
/*
 * Card component
 */
.card {
	background-color: #222;
	/* just in case there no content*/
    
    margin: 0 auto 25px;
	margin-top: 50px;
	border-radius:4px;
}
.circle{
    width: 140px;
    height: 140px;
    border-radius: 100px;
    background-image:url(../images/logo/garruda.jpg);
	background-size: 100% 93%;
 	margin: 0 auto 10px;
	margin-top:-90px;

	}

/*
 * Form styles
 */
.profile-name-card {
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	margin: 10px 0 0;
	min-height: 1em;
}
.reauth-email {
	display: block;
	color: #404040;
	line-height: 2;
	margin-bottom: 10px;
	font-size: 14px;
	text-align: center;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.form-signin #inputEmail, .form-signin #inputPassword {
	direction: ltr;
	height:36px;
	font-size: 14px;
}
.form-signin input[type=email], .form-signin input[type=password], .form-signin input[type=text], .form-signin button {
	width: 100%;
	display: block;
	margin-bottom: 10px;
	z-index: 1;
	position: relative;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.form-signin .form-control:focus {
	border-color: rgb(104, 145, 162);
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgb(104, 145, 162);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgb(104, 145, 162);
}
.btn.btn-signin {
	padding: 0px;
	font-weight: 500;
	font-size: 17px;
	height: 36px;
	margin-top:18px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border: none;
	-o-transition: all 0.218s;
	-moz-transition: all 0.218s;
	-webkit-transition: all 0.218s;
	transition: all 0.218s;
}
.btn.btn-signin:hover, .btn.btn-signin:active, .btn.btn-signin:focus {
	background-color: rgb(12, 97, 33);
}
.forgot-password {
	color:#FFF;
}
.forgot-password:hover, .forgot-password:active, .forgot-password:focus {
	color: #faa718;
}

@media all and (max-width: 767px) and (min-width:320px) {
	body, html {
	height: 100%;
	background:url(../images/bg_image.jpg)no-repeat;
	align-items: center;
	display: block;
	justify-content: center;
	height: 100%;
	width: 100%;
	opacity:0.92;
}	
	}
